fmeserver:
  image:
    tag:
    registry: quay.io
    namespace: safesoftware
    # Supported values: Always or IfNotPresent
    pullPolicy: IfNotPresent
  database:
    host:
    port: '5432'
    name: fmeserver
    user: fmeserver
    password: 4fmmsgrz09
    passwordSecret:
    passwordSecretKey: fmeserver-db-password

    # This user and password must be a database user that can create databases and users in the postgresql database
    adminUser: postgres
    adminPasswordSecret:
    adminPasswordSecretKey:  postgresql-password
  webserver:
    maxThreads: 200
    experimentalJavaFlags: false
  forcePasswordChange: true
  healthcheck:
    enabled: true
    liveness:
      failureThreshold: 6
      timeoutSeconds: 5
    readiness:
      failureThreshold: 3
      periodSeconds: 5
  engines:
    - name: "default"
      engines: 2
      queues: "Default"
      type: "STANDARD"
      affinity: {}
      nodeSelector: {}
      tolerations: []
      resources:
        requests:
          memory: 512Mi
          cpu: 200m
    

deployment:
  hostname: localhost
  proxyReadTimeout: 300
  backupReadTimeout: 1800
  proxyBodySize: 0
  tlsSecretName:
  certManager:
    issuerName:
    issuerType: cluster
  numCores: 1
  startAsRoot: false
  useHostnameIngress: true
  deployPostgresql: true
  disableTLS: false

annotations:
  core:
    statefulset: {}
    template: {}
  engine:
    deployment: {}
    template: {}
  queue:
    statefulset: {}
    template: {}
  websocket:
    statefulset: {}
    template: {}

scheduling:
  core:
    affinity: {}
    nodeSelector: {}
    tolerations: []
  queue:
    affinity: {}
    nodeSelector: {}
    tolerations: []
  websocket:
    affinity: {}
    nodeSelector: {}
    tolerations: []

resources:
  core:
    requests:
      memory: 1.5Gi
      cpu: 200m
  web:
    requests:
      memory: 1Gi
      cpu: 200m
    limits:
      memory:
      cpu:
  queue:
    requests:
      memory: 128Mi
      cpu: 100m
  websocket:
    requests:
      memory: 256Mi
      cpu: 100m

storage:
  useHostDir: false
  reclaimPolicy: Delete
  postgresql:
    size: 1Gi
    class:
    path:
  fmeserver:
    accessMode: ReadWriteOnce
    size: 10Gi
    class:
    path:

# It is recommended not to modify those parameters
# For more options regarding PostgreSQL deployement, check the helm chart documentation:
# https://github.com/kubernetes/charts/tree/master/stable/postgresql
postgresql:
  persistence:
    existingClaim: fmeserver-postgresql
  resources:
    requests:
      memory: 256Mi
      cpu: 100m
  postgresqlPassword: a6av3abwzi
