apiVersion: v1
kind: Pod
metadata:
  name: "{{ .Release.Name}}-deployment-test"
  labels:
    {{- include "fmeflow.common.labels" . | indent 4 }}
  annotations:
    "helm.sh/hook": test-success
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  {{- if .Values.fmeflow.image.pullSecrets }}
  imagePullSecrets:
    {{- range .Values.fmeflow.image.pullSecrets }}
    - name: {{ . }}
    {{- end }}
  {{- end }}
  containers:
    - image: {{ template "fmeflow.image.registry" . }}/{{ template "fmeflow.image.namespace" . }}/{{ .Values.fmeflow.image.deploymenttester.name }}:{{ template "fmeflow.image.tag" . }}
      name: deployment-tester
      imagePullPolicy: {{ template "fmeflow.image.pullPolicy" . }}
      env:
        - name: FMEFLOW_URL
          value: "{{ template "fmeflow.deployment.protocol" . }}://{{ .Values.deployment.hostname }}"
        - name: FMEFLOW_USER
          value: "admin"
        - name: FMEFLOW_PASSWORD
          value: "admin"
  hostNetwork: true
  restartPolicy: Never
